body {
	margin: 0;
	/* padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; */
	background-color: aqua;
}

header {
	background-color: white;
	border-bottom: 1px solid gray;
	position: fixed;
	width: 100%;
	height: 50px;
}

.logo {
	margin-left: 20px;
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
}

/* TODO HO CERCATO DI FARLO RESPONSIVE IN MODO CHE IN BASE ALLA FINESTRA VA A CAPO IL CONTENT IN ORDINE MA NON FUNZIONA.
   MI SONO BASATO VEDENDO IL SITO DI PRADA ORIGINALE, MA USATE ADDIRITTURA RELATIVE ECC QUINDI MI SEMBRA PIU COMPLESSO.*/
.main {
	padding-top: 50px;
	display: flex;
	/* flex-wrap: wrap; */  
}

/* TODO HO PROVATO A TOGLIERE LA WIDTH E SEMBRA CHE CON UN DISPOSITIVO PIU PICCOLO FUNZIONA MEGLIO MA SUL DESKTOP NORMALE CAMBIA */
.vertical-content {
	margin: 20px;
	border: 1px solid;
	width: 50%;
	max-width: 100%;
	height: 900px;
	text-align: center;
	overflow: hidden;
}

/* TODO
STO CERCANDO DI FARE UN COMPONENTE UNICO PER METTERE IL LINK, L'HO FATTO COSI ABSOLUTE PERCHE SPERAVO SI 
ANCORASSE AL DIV DEL CONTENT MA QUELLO NON è POSIZIONATO MA è FLEX QUINDI LUI CON L'ABSOLUTE VA SUL BODY E QUINDI
NON VA. ORA MI SONO PERSO... */
.purchase {
	position: absolute;
	text-decoration: underline;
	color: aliceblue;
	right: 65px;
	top: 100px;
}

.horizontal-content {
	background-color: greenyellow;
	margin: 20px;
	border: 1px solid;
	width: 100%;
	height: 500px;
}