body {
	margin: 0;
	/* padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; */
}

header {
	background-color: white;
	border-bottom: 1px solid gray;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 50px;
}

.header-content {
	display: flex;
	width: 100%;
	height: 100%;
}

.logo-container {
	margin-left: 20px;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}

.link-container {
	height: 100%;
	display: flex;
	align-items: center;
	width: 73%;
}

.link {
	text-decoration-line: none;
	color: black;
	font-family: 'Verdana';
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
}

.icon-container {
	height: 100%;
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.icon {
	padding: 9px;
}

/* TODO HO CERCATO DI FARLO RESPONSIVE IN MODO CHE IN BASE ALLA FINESTRA VA A CAPO IL CONTENT IN ORDINE MA NON FUNZIONA.
   MI SONO BASATO VEDENDO IL SITO DI PRADA ORIGINALE, MA USATE ADDIRITTURA RELATIVE ECC QUINDI MI SEMBRA PIU COMPLESSO.*/

/* sei una pippetta */
.main {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

/* TODO HO PROVATO A TOGLIERE LA WIDTH E SEMBRA CHE CON UN DISPOSITIVO PIU PICCOLO FUNZIONA MEGLIO MA SUL DESKTOP NORMALE CAMBIA */

.first-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.second-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/* sei una pippetta x2 */
.vertical-content {
	padding: 16px;
	box-sizing: border-box;
	height: 900px;
	text-align: center;
	min-width: 600px;
	flex: 1 1 50%;
}

.vertical-content a,
.vertical-content img {
	display: block;
	width: 100%;
	/* TODO: HO COMMENTATO L'ALTEZZA PERCHE SENNO LA FOTO VENIVA SCHIACCIATA, COSI OCCUPA LO SPAZIO CHE PUO E POI VIENE TAGLIATA
	height: 100%; */
}

.purchase-card {
	height: 100%;
	overflow: hidden;
}

.purchase-container {
	text-align: left;
	position: absolute;
	padding: 20px;

}

.purchase {
	text-decoration: underline;
	color: rgb(55, 29, 170);
}

.horizontal-content {
	padding: 16px;
	height: 500px;
	width: 100%;
}

.hide {
	display: none;
}

.shopping-bag {
	position: fixed;
	background-color: white;
	border: 1px solid black;
	right: 0px;
	width: 400px;
	/* top e bottom 0px equivalgono a 100% */
	bottom: 0px;  
	top: 50px;
}

footer {
	background-color: white;
	width: 100%;
	height: 300px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 16px;
}

.footer-bottom {
	display: flex;
	align-items: center;
	padding: 0 0 0 16px;
	height: 57px;
	border-top: 1px solid gray;
	justify-content: space-around;
}

.store-locator {
	text-align: center;
	padding: 20px;
	border-left: 1px solid gray;
}

.shipping {
	text-align: center;
	padding: 20px;
	border-left: 1px solid gray;
}


@media screen and (max-width: 868px) {

	.link-container {
	  visibility: hidden;
	}

  }