body {
	margin: 0;
	/* padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; */
	background-color: aqua;
}

header {
	background-color: white;
	border-bottom: 1px solid gray;
	position: fixed;
	width: 100%;
	height: 50px;
}

.header-content {
	display: flex;
	width: 100%;
	height: 100%;
}

.logo-container {
	margin-left: 20px;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}

.link-container {
	height: 100%;
	display: flex;
	align-items: center;
	width: 73%;
}

.link {
	text-decoration-line: none;
	color: black;
	font-family: 'Verdana';
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
}

.icon-container {
	height: 100%;
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.icon {
	padding: 9px;
}

/* TODO HO CERCATO DI FARLO RESPONSIVE IN MODO CHE IN BASE ALLA FINESTRA VA A CAPO IL CONTENT IN ORDINE MA NON FUNZIONA.
   MI SONO BASATO VEDENDO IL SITO DI PRADA ORIGINALE, MA USATE ADDIRITTURA RELATIVE ECC QUINDI MI SEMBRA PIU COMPLESSO.*/

/* sei una pippetta */
.main {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

/* TODO HO PROVATO A TOGLIERE LA WIDTH E SEMBRA CHE CON UN DISPOSITIVO PIU PICCOLO FUNZIONA MEGLIO MA SUL DESKTOP NORMALE CAMBIA */

.first-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.second-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/* sei una pippetta x2 */
.vertical-content {
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid;
	height: 900px;
	text-align: center;
	min-width: 600px;
	flex: 0 0 50%;
}

.vertical-content a,
.vertical-content img {
	display: block;
	width: 100%;
	height: 100%;
}

/* TODO
STO CERCANDO DI FARE UN COMPONENTE UNICO PER METTERE IL LINK, L'HO FATTO COSI ABSOLUTE PERCHE SPERAVO SI 
ANCORASSE AL DIV DEL CONTENT MA QUELLO NON è POSIZIONATO MA è FLEX QUINDI LUI CON L'ABSOLUTE VA SUL BODY E QUINDI
NON VA. ORA MI SONO PERSO... */

/* io mi sono perso leggendo questo commento */
.purchase {
	position: absolute;
	text-decoration: underline;
	color: aliceblue;
	right: 65px;
	top: 100px;
}

.horizontal-content {
	margin: 20px;
	border: 1px solid;
	height: 500px;
	width: 100%;
}
